.mini-cartao__contentor {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 8.5% ;
    margin-bottom: 2%;
}

.mini-cartao {
    margin-left: 20px;
    background-color: var(--night-blue-4);
    width: 200px;
    height: 400px;
    display: grid;
    grid-template-rows: 250px 150px;

}

.mini-cartao__imagem {
    width: 200px;
    height: 250px;
}

.mini-cartao__descricao {
    padding-top:2px;
    padding-left: 5px;
}

.mini-cartao__titulo {
    width: 200px;
    padding-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    font-size: 15px;
    color: #ffff;
    font-family: var(--fonte-um);
    font-weight: bold;
}

.mini-cartao__titulo_2 {
    color: #ffff;
    font-family: var(--fonte-dois);
    font-weight: bold;
    font-size: 16px;
}

.mini-cartao__preco {
    padding-top: 15px;
}

.mini-cartao__texto {
    color: #ffff;
    margin-bottom: 0.3px;
    margin-bottom: 1px;
}

.storepass {
    width: 100px;
    height: 15px;
    
}

.storepass__texto {
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: var(--fonte-dois);
    color: gold;
    font-weight: bold;
}

.mini-cartao__descricao i {
    color: #ffff;
    cursor: pointer;
}

.propaganda-ebookstore__contentor {
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 90px;
    width: 880px;
    height: 390px;
    display: grid;
    grid-template-columns: 450px 400px;  
    background-color: var(--night-blue-4);
}

.imagem-propaganda__ebookstore {
    width: 430px;
    height: 390px;
}

.propaganda-ebookstore__descricao {
    padding-top: 30px;
}

.propaganda-ebookstore__titulo {
    text-align: center justify;
    font-family: var(--fonte-dois);
    color: #ffff;
    font-weight: bold;
    font-size: xx-large;
}

.propaganda-ebookstore__texto {
    text-align: justify;
    color: #ffff;
    font-family: var(--fonte-um);
    font-size: 20px;
}




