@import url("estilos.css");
@import url("./responsividade.css");


.cabecalho {
    width: 900px;
    display: grid;
    grid-template-columns: 600px 500px 200px;
    width: 100%;
    margin-top: auto;
    background-color: var(--night-blue-4);
}


.barra-meio {
    background-color: var(--cor-azul-dark-4);
    font-family: var(--font-um);
    height: 50px;
    font-weight: bold;
    font-size: 18px;
}

.imagem-logo {
    margin-top: 36px;
    margin-left: 380px;
}

.menu-central {
    
    margin-top: 50px;
    align-items: center;
}

.menu-input__contentor {
    border: 1px solid #ffff;
    background-color: #ffff;
    margin-top: -9px;
    width: 420px;
    height: 50px;
}

.menu-input {
    margin-top: 5px;
    width: 350px;
    height: 40px;
    border: none;
}

.botao-input {
    width: 60px;
    height: 40px;
    color: #ffff;
    background-color: var(--night-blue-3);
}

.lista-menu {
    padding-top: 10px;
    margin-left: 350px;
    display: flex;
    width: 700px;
    flex-direction: row;
    justify-content: space-around;
    
}

.lista-menu__itens {
    list-style-type: none;
}

.lista-menu__links {
    text-decoration: none;
    color: #ffff;
}

.menu-direito__itens {
    margin-top: 50px;
    list-style-type: none;
}

.menu-direito__link {
    text-decoration: none;
    color: #ffff;
}

.menu-direito {
    display: grid;
    grid-template-columns: 100px 100px;
    font-size: 20px;
}

.menu-esquerdo h1 {
    color: #ffff;
    padding-left: 440px;
    margin-top: -49px;
    font-weight: bold;
    font-family: var(--font-tres);
    font-size: 21px;
    cursor: default;
}

.menu-esquerdo p {
    color: var(--night-blue-2) ;
    padding-left: 440px;
    margin-top: -15px;
    font-weight: bold;
    font-family: var(--font-tres);
    font-size: 25px;
    cursor: default;
}

.imagem-login {
    margin-right: 5px;
}

