@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Play:wght@400;700&family=VT323&family=Vina+Sans&display=swap');
@import url("./pages.css");

*{
    padding: 0;
    margin: 0;
}

:root {
    --fonte-um: 'Gruppo', sans-serif; /*fonte para textos*/
    --fonte-dois: 'Play', sans-serif; /*fonte para títulos*/
    --fonte-tres: 'VT323', monospace; /*texto das paginas*/
    --font-4: 'Vina Sans', sans-serif;

    --cor-sort-1:#74B5C2;
    --cor-sort-2: #2EF55E;
    --cor-sort-3: #2EF55E;

    --cor-azul-dark-1: #1F6E8C;
    --cor-azul-dark-2: #2E8A99;
    --cor-azul-dark-3: #84A7A1;
    --cor-azul-dark-4: #0E2954;
    --cor-azul-dark-5: #84A7A1;

    --night-blue-1: #C2D9FF;
    --night-blue-2: #8E8FFA;
    --night-blue-3: #7752FE;
    --night-blue-4: #190482;

    --cor-do-fundo: var(--night-blue-2);
    --cor-dos-cartoes: var(--night-blue-3) ;
    --cor-das-bordas: var(--night-blue-3);
    --cor-fundo-titulo: var(--night-blue-1);
    --cor-da-fonte: var(--night-blue-2);
    --cor-fonte-clara: #ffff;
}

main {
    display: flex;
    flex-direction: column;
}

.navbar-lateral {
    margin-top: 5%;
    margin-left: 83%;
    width: 230px;
    height: 1500px;
    position: absolute;
}

.imagens-navbar {
    margin-bottom: 10px;
    width: 230px;
    height: 400px;
}

.header {
    background: var(--cor-do-fundo);
}

.banner-contentor{
    background-color: rgb(32, 3, 3);
    padding-right: 510px;
    padding-left: 150px;
   
}


.imagem-banner {
    width: 1300px;
    height: 500px;
    background: var(--night-blue-4);

}


.principal-contentor {
	width: 100%;
	height: 100%;
	background: linear-gradient(334deg, #8E8FFA, #190482);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}


.principal-contentor h1{
    margin-top: 1%;
    color: var(--cor-fonte-clara);
    font-weight: bold;
    margin-left: 150px;
    font-family: var(--fonte-dois);
}

.livro-imagem-movel {
    width: 500px;
    height: 600px;
    display: none;
}


.icone {
    width: 50px;
    height: 20px;
}

.rodape-container {
    background-color: #a9c9ba;
}

.livros-contetor {
    display: grid;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 40px;
    grid-template-columns: 25% 25%;
    grid-row-gap: 20px;
    grid-column-gap: 150px;
}

.livro-cartao h5{
    font-family: var(--fonte-dois);
    font-weight: bold;
}

.livro-cartao {
    width: 607px;
    height: 405px;
    border: 4px solid var(--cor-das-bordas);
    display: grid;
    grid-template-columns: 300px 300px;
    font-family: var(--fonte-um);
    color: #ffff;
    box-shadow: 2px 1px 1px black;
    transition: 300ms ease-in-out;
}

.livro-cartao:hover {
    box-shadow: 8px 4px 4px black;
}



.livro-imagem {
    width: 300px;
    height: 399px;
}

.livro-descricao {
    margin-left: 0px;
    text-align: justify; 
    background: var(--cor-dos-cartoes);
      
    
}

.titulo-com-descricao {
    margin-left: -25px;
    width: 300px;
    height: 260px;

}

.descricao, .livro-titulo {
    width: 250px;
    margin-left: 50px;
}

.livro-info {
    width: 200px;
    margin-left: 25px;
}



@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}