@media (min-width: 1700px) {
    .principal-contentor h1 {
        margin-left: 200px;
    }
    
    .livros-contetor {
        margin-left: 200px;
        grid-column-gap: 200px;
    }
}

/*
@media (max-width: 1600px) {

    .livros-contetor {
        margin-left: 20px;
        grid-column-gap: 210px;
    }

    .imagem-banner {
        width: 1200px;
    }

    .banner-contetor {
        padding-right: 300px;
        padding-left: 80px;
    }

   
 } */
 
 
 @media (max-width: 1600px) {

        .navbar-lateral {
            margin-left: 86%;
        }

    
        .imagem-banner {
            margin-left: -130px;
            width: 1200px;
            height: 450px;
        }

        .livro-titulo {
            width: 200px;
            font-size: small;
        }

        .titulo-com-descricao {
            width: 150px;
        }
        

        .livro-descricao {
            width: 150px;
        }

        .livro-cartao {
            width: 500px;
            height: 320px;
            display: grid;
            grid-template-columns: 250px 250px;
            font-size: small;
            background-color: var(--cor-dos-cartoes);
        
        }

        .livro-imagem {
            width: 250px;
            height: 300px;
        }

        .descricao {
            width: 200px;
        }

        .livro-info {
            margin-top: -65px;
        }

        /* responsividade pages */

        .apresentacao-livro {
            grid-template-columns: 500px 400px;
        }

        .livro-page-individual {
            margin-top: 20px;
            margin-left: 200px;
            width: 280px;
            height: 350px;
        }

        .descricao-page-individual {
            margin-left: -200px;

        }

        /*Cabecalho*/

        .menu-esquerdo, .menu-central, .menu-direito, .barra-meio{
            margin-left:  -200px;
        }
    }

@media (max-width: 1300px) {



    .navbar-lateral {
        margin-top: 6%;
        margin-left: 70%;
    }

    /*Carrossel*/

    .imagem-banner {
        margin-left: -80px;
        width: 900px;
        height: 400px;
    }

    /*Cabecalho */

    .menu-esquerdo, .menu-central, .menu-direito, .barra-meio{
        margin-left: -250px;
    }

    /*Principal*/

    .livros-contetor {
        margin-left: 5px;
    }

    .livros-contetor {
        display: grid;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 150px;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
        grid-column-gap: 250px;
    }

}

@media (max-width: 1000px) {

    .navbar-lateral {
        display: none;
    }

    /*Cabecalho*/

    .menu-esquerdo, .menu-central, .menu-direito, .barra-meio{
        margin-left: -300px;
    }
    
    .imagem-banner {
        margin-left: -150px;
        width: 800px;
        height: 400px;
        padding: 0;
    }

    /*Principal*/
    
    .principal-contentor h1 {
        width: 500px;
    }
    

    .caixa-email {
       width: 400px;
       margin-left: 200px ;
    }

    
    /* responsividade pages */

    .apresentacao-livro {
        grid-template-columns: 400px 300px;
        
    }

    .botao-pagina {
        margin-left: -50px;
    }

    .livro-page-individual {
        margin-top: 20px;
        margin-left: 50px;
        width: 280px;
        height: 350px;
    }

    .descricao-page-individual {
        margin-left: -350px;

    }

}

@media (max-width: 800px) {

    footer {
        display: none;
    }
    
    /*Cabecalho*/
    .menu-central {
        display: none;
    }



    /* responsividade pages */
    .livro-page-individual {
        margin-left: 80px;
    }

    .apresentacao-livro {
        grid-template-columns: 400px;
    }

    .descricao-page-individual {
        margin-top: 350px;
    }

    .container-info-livro {
        margin-left: 20px;
    }

    .container-info {
        display: none;
    }

    .container-info-livro {
        border: none;
    }

    .botao-pagina {
        margin-left: 20px;
    }

    .descricao-page-individual {
        margin-top: 200px;
    }

    .texto-page-individual {
        width: 320px;
    
    }
}

@media (max-width: 500px) {

    .banner-contentor {
        display: none;
    }
    
    .barra-meio {
        display: none;
    }

    .livros-contetor {
        margin-top: -50px;
    }

    .livro-imagem-movel {
        margin-top: 10px;
        width: 470px;
        height: 550px;
        display: block;
    }

    .banner-contentor {
        display: none;
    }

    .principal-contentor h1 {
        display: none;
    }

    .livro-cartao {
        display: none;
    }
    
    .livros-contetor {
        margin-left: -30px;
    }

    .caixa-email {
        display: none;
    }
    
}