 @media (max-width: 1405px) {
        .imagem-banner {
            width: 1360px;
            height: 350px;
        }

        .livro-titulo {
            width: 200px;
            font-size: small;
        }

        .titulo-com-descricao {
            width: 150px;
        }

        .livro-descricao {
            width: 150px;
        }

        .livro-cartao {
            width: 500px;
            height: 320px;
            border: 2px solid var(--cor-das-bordas);
            display: grid;
            grid-template-columns: 250px 250px;
            font-size: small;
            background-color: var(--cor-dos-cartoes);
        
        }

        .livro-imagem {
            width: 250px;
            height: 300px;
        }

        .descricao {
            width: 200px;
        }

        .livro-info {
            margin-top: -65px;
        }

        /* responsividade pages */

        .apresentacao-livro {
            grid-template-columns: 500px 400px;
        }

        .livro-page-individual {
            margin-top: 20px;
            margin-left: 200px;
            width: 280px;
            height: 350px;
        }

        .descricao-page-individual {
            margin-left: -200px;

        }
    }


@media (max-width: 1000px) {
    
    .principal-contentor h1 {
        width: 500px;
    }
    
    .principal-contentor {
        margin-top: -150px;
    }

    .imagem-banner {
        width: 1000px;
        height: 200px;
    }

    .livros-contetor {
        display: grid;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 150px;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
        grid-column-gap: 250px;
    }

    .caixa-email {
       width: 400px;
       margin-left: 200px ;
    }

    
    /* responsividade pages */

    .apresentacao-livro {
        grid-template-columns: 400px 300px;
        
    }

    .botao-pagina {
        margin-left: -50px;
    }

    .livro-page-individual {
        margin-top: 20px;
        margin-left: 50px;
        width: 280px;
        height: 350px;
    }

    .descricao-page-individual {
        margin-left: -350px;

    }

}

@media (max-width: 800px) {
    
    /* responsividade pages */
    .livro-page-individual {
        margin-left: 80px;
    }

    .apresentacao-livro {
        grid-template-columns: 400px;
    }

    .descricao-page-individual {
        margin-top: 350px;
    }

    .container-info-livro {
        margin-left: 20px;
    }

    .container-info {
        display: none;
    }

    .container-info-livro {
        border: none;
    }

    .botao-pagina {
        margin-left: 20px;
    }

    .descricao-page-individual {
        margin-top: 200px;
    }

    .texto-page-individual {
        width: 320px;
    
    }
}

@media (max-width: 500px) {
    

    .livros-contetor {
        margin-top: -50px;
    }

    .livro-imagem-movel {
        margin-left: 5px;
        margin-top: 10px;
        width: 450px;
        height: 500px;
        display: block;
        border: 5px solid gold;
    }


    .imagem-banner {
        width: 500px;
        height: 200px;
    }
    
    .principal-contentor h1 {
        display: none;
    }

    .livro-cartao {
        display: none;
    }
    
    .livros-contetor {
        margin-left: -30px;
    }

    .caixa-email {
        display: none;
    }
    
}


@media (max-width: 800px) {
    .imagem-banner {
        width: 800px;
        height: 200px;
    }
}