@media (max-width: 1500px) {
    .produtos-container {
        width: 1300px;
        margin-left: 25px;
    }

    .imagens-livro {
        width: 230px;
        height: 280px;
    }

    .descricao-produto {
        width: 215px;
        height: 280px;
    }

    .imagem-banner {
        width: 1400px;
        height: 350px;
    }



    .livro-page-individual {
        margin-top: 20px;
        margin-left: 300px;
        width: 280px;
        height: 350px;
    }

    .texto-page-individual {
        margin-left: 300px;
        width: 400px;
        height: 400px;
    }

    .titulo-sobre {
        margin-left: 300px;
    }

    @media (max-width: 1366px) {
        .livros-contetor {
            display: grid;
            margin-left: 150px;
            grid-template-columns: 20% 20%;
            grid-row-gap: 30px;
            grid-column-gap: 150px;
        }
        
        .livro-cartao {
            width: 600px;
            height: 500px;
        }

        .livro-imagem {
            width: 250px;
            height: 300px;
        }

        .livro-descricao {

        }
    }


}